<button routerLink="..">Volver</button>

<form>
    <div class="d-grid gap-2 col-2 mx-auto mt-5 ">
      <label for="exampleInputEmail1" class="form-label">Ingrese su identidad</label>
      <input type="text" class="form-control" id="Identidad" name="Identidad" [(ngModel)]="nuevoUsuario.Identidad" aria-describedby="emailHelp"/>
    </div>

    <div class="d-grid gap-2 col-2 mx-auto mt-4">
        <label for="exampleInputEmail1" class="form-label">Ingrese su Nombre</label>
        <input type="text" class="form-control" id="Nombre" name="Nombre" [(ngModel)]="nuevoUsuario.Nombre" aria-describedby="emailHelp"/>
    </div>

    <div class="d-grid gap-2 col-2 mx-auto mt-4">
        <label for="exampleInputEmail1" class="form-label">Ingrese su Apellido</label>
        <input type="text" class="form-control" id="Apellido" name="Apellido" [(ngModel)]="nuevoUsuario.Apellido" aria-describedby="emailHelp"/>
    </div>

    <div class="d-grid gap-2 col-2 mx-auto mt-4">
        <label for="exampleInputEmail1" class="form-label">Ingrese su correo</label>
        <input type="email" class="form-control" id="Correo" name="Correo" [(ngModel)]="nuevoUsuario.Correo" aria-describedby="emailHelp"/>
    </div>

    <div class="d-grid gap-2 col-2 mx-auto mt-4">
      <label for="exampleInputEmail1" class="form-label">Nombre de usuario</label>
      <input type="text" class="form-control" id="NombreUsuario" name="NombreUsuario" [(ngModel)]="nuevoUsuario.NombreUsuario" aria-describedby="emailHelp"/>
  </div>
  
    <div class="d-grid gap-2 col-2 mx-auto mt-4">
      <label for="exampleInputPassword1" class="form-label">Ingrese una contraseña</label>
      <input type="password" class="form-control" id="Contrasena" name="Contrasena" [(ngModel)]="nuevoUsuario.Contrasena" />
    </div>
    
    <div class="d-grid gap-2 col-2 mx-auto mt-4">
      <label for="exampleInputPassword1" class="form-label">Confirme su contraseña</label>
      <input type="password" class="form-control" id="contrasenaConfirmacion" name="contrasenaConfirmacion" [(ngModel)]="contrasenaConfirmacion" (ngModelChange)="verificarContrasenas()"/>
      <!-- Mostrar un mensaje de error si las contraseñas no coinciden -->
      <div *ngIf="!contrasenasCoinciden" class="text-danger">Las contraseñas no coinciden.</div>
    </div>
        
    <div class="d-grid gap-2 col-1 mx-auto mt-5">
      <button type="button" class="btn btn-primary" (click)="registrar()">Registrarse</button>
    </div>
    
</form>

  <!--style="color:rgb(81, 165, 42)"-->
