<head>
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons"
  />
</head>

<div class="container justify-content-center align-items-center">
  <h2 class="text-center ">Ingresar detalles del requerimiento</h2>

  <div class="d-grid gap-2 col-2 mx-auto mt-4">
    <div class="border text-center">
      <label class="text-center col-10"
        >#Requerimiento: {{ datosRuta.Id }}</label
      >
    </div>
  </div>

  <div
    class="card mt-4 border-danger"
    *ngIf="datosRuta.RequerimientoEstadoId === 7"
  >
    <div class="card-header text-bg-danger">Requerimiento Denegado</div>
    <div class="card-body">
      <h5 class="card-title">Observaciones</h5>
      <p class="card-text">{{ datosRuta.ObservacionesRevision }}</p>
    </div>
  </div>

  <table class="table table-borderless mt-5">
    <thead>
      <tr>
        <th scope="col">Sistema</th>
        <th scope="col">Descripción</th>
        <th scope="col">Objetivo</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>
          <textarea
            class="form-control"
            id="Observaciones"
            name="Observaciones"
            [(ngModel)]="datosRuta.Objetivo"
            disabled="true"
          ></textarea>
        </th>
        <td>
          <textarea
            class="form-control"
            id="Observaciones"
            name="Observaciones"
            disabled="true"
            [(ngModel)]="datosRuta.Descripcion"
          ></textarea>
        </td>
        <td>
          <textarea
            class="form-control"
            id="Observaciones"
            name="Observaciones"
            disabled="true"
            [(ngModel)]="datosRuta.Objetivo"
          ></textarea>
        </td>
      </tr>
    </tbody>
  </table>

  <nav class="navbar navbar-light mt-5" style="background-color: #fde3ed">
    <div class="container-fluid">
      <a class="navbar-brand">Ingrese las actividades realizadas</a>
      <button
        class="btn btn-outline-danger"
        type="submit"
        data-original-title=""
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
        title=""
      >
        Agregar actividad
      </button>
    </div>
  </nav>

  <div class="di" *ngIf="detalles.length !== 0">
    <body class="mt-5">
      <div class="container justify-content-center align-items-center vh-50">
        <div class="row">
          <div class="col-lg-12 col-md-10 ml-auto mr-auto">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr class="text-center">
                    <th>#Detalle</th>
                    <th>Tipo de objeto</th>
                    <th>Objeto</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                  </tr>
                </thead>
                <tbody class="text-center">
                  <tr *ngFor="let detalles of getUsersForPage(); let i = index">
                    <td>{{ i + numDetalle + 1 }}</td>
                    <td>{{ detalles.NombreObjeto }}</td>
                    <td>{{ detalles.Objeto }}</td>

                    <td class="td-actions text-right">
                      <button
                        type="button"
                        class="btn btn-warning btn-just-icon btn-sm"
                        (click)="abrirModal(detalles)"
                        data-original-title=""
                        data-bs-toggle="modal"
                        data-bs-target="#exampleModal2"
                        title=""
                      >
                        <i class="material-icons">edit</i>
                      </button>
                    </td>

                    <td class="td-actions text-right">
                      <button
                        type="button"
                        class="btn btn-danger btn-just-icon btn-sm"
                        (click)="eliminarDetalle(detalles.Id)"
                      >
                        <i class="material-icons">delete</i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item" [class.disabled]="currentPage === 1">
                <a
                  class="page-link"
                  (click)="currentPage = currentPage - 1"
                  aria-label="Previous"
                >
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li class="page-item" *ngFor="let page of getPages()">
                <a class="page-link" (click)="currentPage = page">{{ page }}</a>
              </li>
              <li
                class="page-item"
                [class.disabled]="currentPage === getTotalPages()"
              >
                <a
                  class="page-link"
                  (click)="currentPage = currentPage + 1"
                  aria-label="Next"
                >
                  <span aria-hidden="true">&raquo;</span></a
                >
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </body>
  </div>

  <div class="text-center">
    <button
      type="submit"
      class="btn btn-primary btn-lg mt-5"
      *ngIf="
        (detalles.length !== 0 && datosRuta.RequerimientoEstadoId === 2) ||
        datosRuta.RequerimientoEstadoId === 7
      "
      (click)="enviarReq()"
    >
      Enviar requerimiento a revisión
    </button>
  </div>

  <!-- Modal agregar detalle -->
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">
            Agregar actividad
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body text-center align-middle">
          <label for="exampleInputEmail1" class="form-label"
            >Tipo de objeto</label
          >
          <div style="display: flex; align-items: center">
            <select
              class="form-select"
              aria-label="Default select example"
              [(ngModel)]="requerimientoDetalle.TipoObjetoId"
            >
              <option
                *ngFor="let tipoObjeto of tipoObjetos"
                [value]="tipoObjeto.Id"
              >
                {{ tipoObjeto.Nombre }}
              </option>
            </select>
            <button
              class="btn btn-danger"
              style="margin-left: 10px"
              rel="tooltip"
              data-original-title=""
              data-bs-toggle="modal"
              data-bs-target="#exampleModal3"
              title=""
            >
              +
            </button>
          </div>
          <label for="exampleInputEmail1" class="form-label">Objeto</label>
          <input
            type="text"
            class="form-control"
            id="Objeto"
            name="Objeto"
            [(ngModel)]="requerimientoDetalle.Objeto"
          />

          <label for="exampleInputEmail1" class="form-label">Ubicación</label>
          <input
            type="text"
            class="form-control"
            id="Ubicación"
            name="Ubicación"
            [(ngModel)]="requerimientoDetalle.Ubicacion"
          />

          <label for="exampleInputEmail1" class="form-label">Actividad</label>
          <textarea
            class="form-control"
            id="Actividad"
            rows="4"
            name="Actividad"
            [(ngModel)]="requerimientoDetalle.Actividad"
          ></textarea>

          <label for="exampleInputEmail1" class="form-label"
            >Observaciones</label
          >
          <textarea
            class="form-control"
            id="Observaciones"
            rows="4"
            name="Observaciones"
            [(ngModel)]="requerimientoDetalle.Observaciones"
          ></textarea>
        </div>
        <br />
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cerrar
          </button>
          <button
            type="button"
            class="btn btn-primary"
            (click)="crearDetalle()"
            [disabled]="!camposLlenos()"
          >
            Guardar actividad
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal editar detalle-->
  <div
    class="modal fade"
    id="exampleModal2"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">
            Editar actividad
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body text-center align-middle">
          <label for="exampleInputEmail1" class="form-label"
            >Tipo de objeto</label
          >
          <select
            class="form-select"
            aria-label="Default select example"
            name="selectedSistema"
            [(ngModel)]="detalleActual.TipoObjetoId"
          >
            <option
              *ngFor="let tipoObjeto of tipoObjetos"
              [value]="tipoObjeto.Id"
            >
              {{ tipoObjeto.Nombre }}
            </option>
          </select>

          <label for="exampleInputEmail1" class="form-label">Objeto</label>
          <input
            type="text"
            class="form-control"
            id="Objeto"
            name="Objeto"
            [(ngModel)]="detalleActual.Objeto"
          />

          <label for="exampleInputEmail1" class="form-label">Ubicación</label>
          <input
            type="text"
            class="form-control"
            id="Ubicación"
            name="Ubicación"
            [(ngModel)]="detalleActual.Ubicacion"
          />

          <label for="exampleInputEmail1" class="form-label">Actividad</label>
          <textarea
            class="form-control"
            id="Actividad"
            rows="4"
            name="Actividad"
            [(ngModel)]="detalleActual.Actividad"
          ></textarea>

          <label for="exampleInputEmail1" class="form-label"
            >Observaciones</label
          >
          <textarea
            class="form-control"
            id="Observaciones"
            rows="4"
            name="Observaciones"
            [(ngModel)]="detalleActual.Observaciones"
          ></textarea>
        </div>
        <br />
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cerrar
          </button>
          <button
            type="button"
            class="btn btn-primary"
            (click)="guardarCambio()"
            [disabled]="
              detalleActual.Actividad === '' ||
              detalleActual.Ubicacion === '' ||
              detalleActual.Objeto === ''
            "
          >
            Guardar cambios
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal agregar objeto-->
<div
  class="modal fade"
  id="exampleModal3"
  tabindex="-1"
  aria-labelledby="exampleModalLabel3"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Agregar Tipo de objeto
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body text-center align-middle">
        <div class="h5">Ingrese tipo de objeto</div>
        <input
          type="text"
          class="form-control"
          aria-describedby="emailHelp"
          [(ngModel)]="tipoObjeto.Nombre"
        />
      </div>
      <br />
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cerrar
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="crearTipoObjeto()"
          [disabled]="tipoObjeto.Nombre === '' "
        >
          Guardar
        </button>
      </div>
    </div>
  </div>
</div>
