<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" />
</head>
<h2 class="h2 text-center mt-5">Requerimientos en proceso</h2>

<body class="mt-5">
  <div class="container d-flex justify-content-center align-items-center vh-50">
    <div class="row">
      <div class="col-lg-12 col-md-10 ml-auto mr-auto">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr class="text-center">
                <th >#Requerimiento</th>
                <th>Sistema</th>
                <th>Estado</th>
                <th>Creador</th>
                <th >Elaborador</th>
                <th >Opcion</th>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr *ngFor="let requerimiento of getUsersForPage()">
                <td>{{ requerimiento.Id }}</td>
                <td >{{ requerimiento.NombreSistema }}</td>
                <td>{{ requerimiento.Estado }}</td>
                <td>{{ requerimiento.NombreCreador }} {{ requerimiento.ApellidoCreador }}</td>
                <td>{{ requerimiento.NombreElaborador }} {{ requerimiento.ApellidoElaborador }}</td>

                <td *ngIf="datosUsuario && datosUsuario.Id !== requerimiento.UsuarioIdCreador" class="td-actions text-right">
                  <button type="button" class="btn btn-success btn-just-icon btn-sm" (click)="verRequerimiento(requerimiento)" >
                    <i class="material-icons">visibility</i>
                  </button>
                </td>
                <td *ngIf="datosUsuario && datosUsuario.Id === requerimiento.UsuarioIdCreador" class="td-actions text-right">
                  <button type="button" class="btn btn-warning btn-just-icon btn-sm" (click)="verRequerimiento(requerimiento)" >
                    <i class="material-icons">edit</i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item" [class.disabled]="currentPage === 1">
            <a class="page-link" (click)="currentPage = currentPage - 1" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item" *ngFor="let page of getPages()">
            <a class="page-link" (click)="currentPage = page">{{ page }}</a>
          </li>
          <li class="page-item" [class.disabled]="currentPage === getTotalPages()">
            <a class="page-link" (click)="currentPage = currentPage + 1" aria-label="Next">
              <span aria-hidden="true">&raquo;</span></a>
        </ul>
      </nav>
    </div>
  </div>
</body>