<body class="mt-5">

    <div class="container justify-content-center align-items-center">

        <h2 class="text-right">Informacion de la solicitud de requerimiento
            <div class=" d-md-flex justify-content-md-end">
                <button class="btn btn-primary text-white me-md-10 btn-lg" type="button">Ficha tecnica</button>
            </div>
        </h2>

        <h4 class="form-floating mb-3 "># Requerimiento</h4>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInputDisabled" placeholder="name@example.com" disabled>
            <label for="floatingInputDisabled">{{datosRuta.Id}}</label>
        </div>
        <h4 class="form-floating mb-3 ">Usuario Creador</h4>
        <div class="form-floating mb-3 ">
            <input type="email" class="form-control" id="floatingInputDisabled" placeholder="name@example.com" disabled>
            <label for="floatingInputDisabled">{{datosRuta.UsuarioIdCreador}}</label>
        </div>
        <h4 class="form-floating mb-3 ">Descripcion</h4>
        <div class="form-floating mb-3">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2Disabled"
                style="height: 100px" disabled>{{datosRuta.Descripcion}}</textarea>
        </div>
        <h4 class="form-floating mb-3 ">Objetivo</h4>
        <div class="form-floating mb-3">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2Disabled"
                style="height: 100px" disabled>{{datosRuta.Objetivo}}</textarea>
        </div>
        <h4 class="form-floating mb-3 ">Sistema</h4>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInputDisabled" placeholder="name@example.com" disabled>
            <label for="floatingInputDisabled">{{datosRuta.SistemaId}}</label>
        </div>
        <h4 class="form-floating mb-3 ">Usuario Elaborador</h4>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInputDisabled" placeholder="name@example.com" disabled>
            <label for="floatingInputDisabled">{{datosRuta.UsuarioIdElaborador}}</label>
        </div>
    </div>
</body>
<br>
<br>
<br>