<form>
  <div class="d-grid gap-2 col-2 mx-auto mt-5">
    <label for="exampleInputEmail1" class="form-label">Ingrese su correo o nombre de usuario</label>
    <input
      type="email"
      [(ngModel)]="usuario.Correo"
      class="form-control"
      id="correo"
      name="correo"
    />
  </div>

  <div class="d-grid gap-2 col-2 mx-auto mt-4">
    <label for="exampleInputPassword1" class="form-label">Ingrese su contraseña</label>
    <input
      type="password"
      [(ngModel)]="usuario.Contrasena"
      class="form-control"
      id="contrasena"
      name="contrasena"
    />
  </div>

  <a class="d-grid gap-2 col-1 mx-auto mt-4" href="/recuperarcontrasena"
    >Recuperar Contraseña</a
  >

  <div class="d-grid gap-2 col-1 mx-auto mt-4">
    <button type="submit" class="btn btn-primary" (click)="signUp()">Entrar</button>
  </div>
</form>

<div class="d-grid gap-2 col-1 mx-auto mt-4">
  <button type="button" class="btn btn-secondary" routerLink="/crearusuario">
    <a class="nav-link">Registrarse</a>
  </button>
</div>
