<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
</head>
<body>
<h1  id="templatechangeloghistory" class="mt-5">Última versión {{changelog.NombreSistema}}  {{changelog.FechaActualizacion }}</h1>

<p>Descripción de los cambios realizados: {{changelog.Descripcion}}</p>

<p>Objetivo de los cambios: {{changelog.Objetivo}}</p>

<p>Tipo de cambio: {{changelog.NombreTipoCambio}}</p>


<hr />

<h3 id="1.02017-06-22">Versión del sistema {{changelog.VersionSistema}}</h3>

<p>And here we go.</p>

<ul>
<li>updated to normalize.css 5.0</li>
<li>namespaced all functions</li>
<li>updated readme</li>
<li>updated login.scss</li>
<li>updated admin functions</li>
<li>added favicons, new apple touch icons and theme screenshot</li>
<li>added default system font stack</li>
<li>added .ai files for theme images</li>
<li>WordPress Customizer support</li>
<li>WooCommerce support</li>
<li>updated body class function</li>
<li>expanded Quicktags</li>
<li>template part library (really cool)</li>
<li>updated comments</li>
<li>cleaned up header.php</li>
<li>admin and login page updates</li>
<li>updated media query .scss stylesheets</li>
<li>removed @2x and ie_grid (who uses those?)</li>
<li>HTML schema support</li>
<li>updated css reset</li>
<li>default .scss classes</li>
</ul>

</body>
</html>

