.contenedor {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    width: 100%;
    height: 91vh; /* Esto asegurará que el contenedor ocupe toda la altura de la ventana */
  }
  
  .carrusel {
    flex: 2;
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
  }
  
  .formulario {
    flex: 1; /* Ocupará el espacio disponible en la misma proporción que el carrusel */
    align-self: flex-start; /* Alinea el formulario hacia arriba */
    margin-top: 100px; /* Ajusta la distancia entre el carrusel y el formulario según tu preferencia */
    margin-left: 10px;
  }
  