<head>
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons"
  />
</head>

<nav
  class="navbar navbar-expand-lg navbar-custom"
  *ngIf="datosUsuario && datosUsuario.RolId === 1"
>
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a
          class="nav-link"
          routerLink="/home/admin"
          routerLinkActive="active"
          (click)="reloadPageIfCurrentRoute('/home/admin')"
        >
          <div
            style="
              color: #ffffff;
              display: flex;
              flex-direction: column;
              align-items: center;
            "
          >
            <i class="material-icons">home</i>
          </div>
        </a>

        <a
          class="nav-link"
          routerLink="/crearsolicitud"
          routerLinkActive="active"
          (click)="reloadPageIfCurrentRoute('/crearsolicitud')"
          ><h6 style="color: #ffffff">Crear solicitud</h6></a
        >
        <a
          class="nav-link"
          routerLink="/reportes"
          routerLinkActive="active"
          (click)="reloadPageIfCurrentRoute('/reportes')"
          ><h6 style="color: #ffffff">Reportes</h6></a
        >
        <a
          class="nav-link"
          routerLink="/documentos"
          routerLinkActive="active"
          (click)="reloadPageIfCurrentRoute('/documentos')"
          ><h6 style="color: #ffffff">Documentos</h6></a
        >
        <a
          class="nav-link"
          routerLink="/usuarios"
          routerLinkActive="active"
          (click)="reloadPageIfCurrentRoute('/usuarios')"
          ><h6 style="color: #ffffff">Usuarios</h6></a
        >
        <a
          class="nav-link"
          routerLink="/sistemas"
          routerLinkActive="active"
          (click)="reloadPageIfCurrentRoute('/sistemas')"
          ><h6 style="color: #ffffff">Sistemas</h6></a
        >
      </div>
    </div>
    <button
      type="button"
      class="btn btn btn-just-icon btn-sm me-5"
      (click)="descargarManuales()"
    >
      <i class="material-icons">description</i>
    </button>
    <button
      type="button"
      class="btn btn btn-just-icon btn-sm me-5"
      routerLink="/modificarusuario"
      (click)="reloadPageIfCurrentRoute('/modificarusuario')"
    >
      <i class="material-icons">manage_accounts</i>
    </button>
    <button type="button" class="btn btn-danger">
      <a class="nav-link" (click)="authService.logout()">Cerrar sesión</a>
    </button>
  </div>
</nav>

<nav
  class="navbar navbar-expand-lg navbar-custom"
  *ngIf="datosUsuario && datosUsuario.RolId === 2"
>
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a
          class="nav-link"
          routerLink="/home/elaborador"
          routerLinkActive="active"
          (click)="reloadPageIfCurrentRoute('/home/elaborador')"
        >
          <div
            style="
              color: #ffffff;
              display: flex;
              flex-direction: column;
              align-items: center;
            "
          >
            <i class="material-icons">home</i>
          </div>
        </a>
        <a
          class="nav-link"
          routerLink="/objetos"
          routerLinkActive="active"
          (click)="reloadPageIfCurrentRoute('/objetos')"
          ><h6 style="color: #ffffff">Objetos</h6></a
        >
      </div>
    </div>
    <button
      type="button"
      class="btn btn btn-just-icon btn-sm me-5"
      routerLink="/modificarusuario"
      (click)="reloadPageIfCurrentRoute('/modificarusuario')"
    >
      <i class="material-icons">manage_accounts</i>
    </button>
    <button type="button" class="btn btn-danger">
      <a class="nav-link" (click)="authService.logout()">Cerrar sesión</a>
    </button>
  </div>
</nav>
