<form style="max-width: 600px; margin: 0 auto;" >
  <div class="div">
    <h2 class="h2 text-center mt-5" style="font-size: 50px;">Inicio de sesión</h2>
  </div>

  <div class="d-grid gap-2 col-5 mx-auto mt-5" style="font-size: 25px;">
    <label for="exampleInputEmail1" class="form-label text-dark"
      >Correo o usuario</label
    >
    <input
      type="email"
      [(ngModel)]="usuario.Correo"
      class="form-control"
      id="correo"
      name="correo"
    />
  </div>

  <div class="d-grid gap-2 col-5 mx-auto mt-4 " style="font-size: 25px;" >
    <label for="exampleInputPassword1" class="form-label text-dark"
      >Contraseña</label
    >
    <input
      type="password"
      [(ngModel)]="usuario.Contrasena"
      class="form-control"
      id="contrasena"
      name="contrasena"
    />
  </div>

  <a style="font-size: 18px;"
    class="d-grid gap-2 col-5 mx-auto mt-5 text-center"
    href="/recuperarcontrasena"
    >Recuperar Contraseña</a
  >

  <div class="d-grid gap-2 col-5 mx-auto mt-5">
    <button type="submit" class="btn btn-primary" (click)="signUp()">
      Entrar
    </button>
  </div>

  <div class="d-grid gap-2 col-5 mx-auto mt-5">
    <button type="submit" class="btn btn-dark" routerLink="/crearusuario">
      Registrarse
    </button>
  </div>
</form>


