<form>
  <div class="div">
    <div class="text-center mt-5 text-white" style="font-size: 50px">
      Bienvenido
    </div>
  </div>

  <div
    class="gap-2 mx-auto mt-5 text-center"
    style="font-size: 25px; width: 70%"
  >
    <label for="exampleInputEmail1" class="form-label"
      ><div class="text-white">Correo/usuario</div></label
    >
    <input
      type="email"
      [(ngModel)]="usuario.Correo"
      class="form-control d-flex"
      id="correo"
      name="correo"
    />
  </div>

  <div
    class="gap-2 mx-auto mt-4 text-center"
    style="font-size: 25px; width: 70%"
  >
    <label for="exampleInputPassword1" class="form-label"
      ><div class="text-white">Contraseña</div></label
    >
    <input
      type="password"
      [(ngModel)]="usuario.Contrasena"
      class="form-control d-grid d-flex"
      id="contrasena"
      name="contrasena"
    />
  </div>

  <a
    style="font-size: 18px"
    class="d-grid gap-2 col-5 mx-auto mt-5 text-center text-white"
    href="/recuperarcontrasena"
    >Recuperar Contraseña</a
  >

  <div class="d-grid mx-auto mt-5">
    <button
      type="submit"
      class="btn text-white"
      style="background-color: #2badbe"
      (click)="signUp()"
    >
      Entrar
    </button>
  </div>

  <div class="d-grid mx-auto mt-5">
    <button type="submit" class="btn btn-dark" routerLink="/crearusuario">
      Registrarse
    </button>
  </div>
</form>
