<head>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons"
    />
  </head>
  
  <h2 class="h2 text-center mt-5">Documentar requerimientos</h2>
  <body class="mt-5">
    <div class="container d-flex justify-content-center align-items-center vh-50">
      <div class="row">
        <div class="col-lg-12 col-md-10 ml-auto mr-auto">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr class="text-center">
                  <th>#Requerimiento</th>
                  <th>Sistema</th>
                  <th>Estado</th>
                  <th>Creador</th>
                  <th>Elaborador</th>
                  <th>Documentar</th>
                </tr>
              </thead>
              <tbody class="text-center">
                <tr *ngFor="let requerimientoADocumentar of getUsersForPage()">
                  <td>{{ requerimientoADocumentar.Id }}</td>
                  <td>{{ requerimientoADocumentar.NombreSistema }}</td>
                  <td>
                    <span class="badge rounded-pill bg-secondary">
                      {{ requerimientoADocumentar.Estado }}</span
                    >
                  </td>
                  <td>
                    {{ requerimientoADocumentar.NombreCreador }}
                    {{ requerimientoADocumentar.ApellidoCreador }}
                  </td>
                  <td>
                    {{ requerimientoADocumentar.NombreElaborador }}
                    {{ requerimientoADocumentar.ApellidoElaborador }}
                  </td>        
                  <td
                    class="td-actions text-right"
                  >
                    <button
                      type="button"
                      class="btn btn-dark btn-just-icon btn-sm"
                      (click)="enviarRequerimiento(requerimientoADocumentar)"
                    >
                      <i class="material-icons">view_headline</i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item" [class.disabled]="currentPage === 1">
              <a
                class="page-link"
                (click)="currentPage = currentPage - 1"
                aria-label="Previous"
              >
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item" *ngFor="let page of getPages()">
              <a class="page-link" (click)="currentPage = page">{{ page }}</a>
            </li>
            <li
              class="page-item"
              [class.disabled]="currentPage === getTotalPages()"
            >
              <a
                class="page-link"
                (click)="currentPage = currentPage + 1"
                aria-label="Next"
              >
                <span aria-hidden="true">&raquo;</span></a
              >
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </body>
  