<body class="">
  <div class="container justify-content-center align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 text-center">
          <h2>Información de la solicitud de requerimiento</h2>
        </div>
        <div class="col-md-4 d-flex justify-content-end">
          <button
            type="button"
            class="btn btn-lg btn-primary"
            (click)="envioIdReq(datosRuta.Id)"
            *ngIf="datosRuta.RequerimientoEstadoId === 1; enable"
          >
            Ingresar ficha técnica
          </button>
        </div>
      </div>

      <div
        class="card mt-4 border-danger"
        *ngIf="datosRuta.RequerimientoEstadoId === 7"
      >
        <div class="card-header text-bg-danger">Requerimiento Denegado</div>
        <div class="card-body">
          <h5 class="card-title">Observaciones</h5>
          <p class="card-text">{{ datosRuta.ObservacionesRevision }}</p>
        </div>
      </div>

      <h4 class="form-floating mb-3 mt-4 text-dark"># Requerimiento</h4>
      <div class="form-floating mb-3">
        <input
          type="email"
          class="form-control"
          id="floatingInputDisabled"
          placeholder="name@example.com"
          disabled
        />
        <label for="floatingInputDisabled">{{ datosRuta.Id }}</label>
      </div>

      <h4 class="form-floating mb-3 mt-3 text-dark">Fecha creación</h4>
      <div class="form-floating mb-3">
        <input
          type="email"
          class="form-control"
          id="floatingInputDisabled"
          placeholder="name@example.com"
          disabled
        />
        <label for="floatingInputDisabled">{{ FechaCreacion }}</label>
      </div>

      <h4 class="form-floating mb-3 text-dark">Usuario Creador</h4>
      <div class="form-floating mb-3">
        <input
          type="email"
          class="form-control"
          id="floatingInputDisabled"
          placeholder="name@example.com"
          disabled
        />
        <label for="floatingInputDisabled"
          >{{ datosRuta.NombreCreador }} {{ datosRuta.ApellidoCreador }}</label
        >
      </div>
      <h4 class="form-floating mb-3 text-dark">Descripción</h4>
      <div class="form-floating mb-3">
        <textarea
          class="form-control"
          placeholder="Leave a comment here"
          id="floatingTextarea2Disabled"
          style="height: 100px"
          disabled
          >{{ datosRuta.Descripcion }}</textarea
        >
      </div>
      <h4 class="form-floating mb-3 text-dark">Objetivo</h4>
      <div class="form-floating mb-3">
        <textarea
          class="form-control"
          placeholder="Leave a comment here"
          id="floatingTextarea2Disabled"
          style="height: 100px"
          disabled
          >{{ datosRuta.Objetivo }}</textarea
        >
      </div>
      <h4 class="form-floating mb-3 text-dark">Sistema</h4>
      <div class="form-floating mb-3">
        <input
          type="email"
          class="form-control"
          id="floatingInputDisabled"
          placeholder="name@example.com"
          disabled
        />
        <label for="floatingInputDisabled">{{ datosRuta.NombreSistema }}</label>
      </div>
      <h4 class="form-floating mb-3 text-dark">Usuario Elaborador</h4>
      <div class="form-floating mb-3">
        <input
          type="email"
          class="form-control"
          id="floatingInputDisabled"
          placeholder="name@example.com"
          disabled
        />
        <label for="floatingInputDisabled"
          >{{ datosRuta.NombreElaborador }}
          {{ datosRuta.ApellidoElaborador }}</label
        >
      </div>
      <br />

      <div *ngIf="datosFichaTecnica">
        <h2 class="text-right">Ficha Técnica</h2>
        <br />

        <h4 class="form-floating mb-3 text-dark">Tiempo estimado</h4>
        <div class="form-floating mb-3">
          <input
            type="email"
            class="form-control"
            id="floatingInputDisabled"
            placeholder="name@example.com"
            disabled
          />
          <label for="floatingInputDisabled">{{
            datosFichaTecnica.TiempoEstimadoHrs
          }}</label>
        </div>
        <h4 class="form-floating mb-3 text-dark">Tipo de cambio</h4>
        <div class="form-floating mb-3">
          <input
            type="email"
            class="form-control"
            id="floatingInputDisabled"
            placeholder="name@example.com"
            disabled
          />
          <label for="floatingInputDisabled">{{
            datosFichaTecnica.NombreCambio
          }}</label>
        </div>
        <h4 class="form-floating mb-3 text-dark">Observaciones</h4>
        <div class="form-floating mb-3">
          <input
            type="email"
            class="form-control"
            id="floatingInputDisabled"
            placeholder="name@example.com"
            disabled
          />
          <label for="floatingInputDisabled">{{
            datosFichaTecnica.Observaciones
          }}</label>
        </div>
        <br />
        <br />
      </div>
    </div>
  </div>
</body>
<br />
<br />
