<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="/home">Inicio</a>
          <a class="nav-link" href="/crearsolicitud">Crear solicitud</a>
          <a class="nav-link" href="/historial">Historial</a>
          <a class="nav-link" href="/modificar">Usuarios</a>
          <a class="nav-link" href="/">Documentos</a>
        </div>
      </div>
      <button type="button" class="btn btn-danger">
        <a class="nav-link" href="/login">Cerrar sesion</a>
        </button>
    </div>
</nav>


<p>navbar works!</p>
