<nav class="navbar navbar-expand-lg bg-body-tertiary" *ngIf="datosUsuario && datosUsuario.RolId === 1">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Inicio</a>
          <a class="nav-link" routerLink="/crearsolicitud" routerLinkActive="active">Crear solicitud</a>
          <a class="nav-link" routerLink="/reportes" routerLinkActive="active">Reportes</a>
          <a class="nav-link" routerLink="/documentos" routerLinkActive="active">Documentos</a>
          <a class="nav-link" routerLink="/usuarios" routerLinkActive="active">Usuarios</a>
        </div>
      </div>
      <button type="button" class="btn btn-danger">
        <a class="nav-link" (click)="authService.logout()">Cerrar sesion</a>
        </button>
    </div>
</nav>

<nav class="navbar navbar-expand-lg bg-body-tertiary" *ngIf="datosUsuario && datosUsuario.RolId === 2">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">Inicio</a>
        <a class="nav-link" routerLink="/objetos" routerLinkActive="active">Objetos</a>
        <a class="nav-link" routerLink="/configurarusuario" routerLinkActive="active">Usuario</a>
      </div>
    </div>
    <button type="button" class="btn btn-danger">
      <a class="nav-link" (click)="authService.logout()">Cerrar sesion</a>
      </button>
  </div>
</nav>
