<div>
  <div>
    <h2 class="text-center">Recuperar contraseña</h2>
  </div>
  <form>
    <div class="d-grid gap-2 col-2 mx-auto mt-5">
      <label for="exampleInputEmail1" class="form-label text-dark"
        >Ingrese su correo</label
      >
      <input
        type="email"
        class="form-control"
        id="Correo"
        name="Correo"
        [(ngModel)]="usuario.Correo"
        aria-describedby="emailHelp"
      />
    </div>
    <div class="d-grid gap-2 col-1 mx-auto mt-4">
      <button type="button" class="btn btn-primary" (click)="enviarCorreo()">
        Enviar
      </button>
    </div>
  </form>
</div>
