<app-navbar></app-navbar>

<app-tabla-inicial></app-tabla-inicial>
<!--
<router-outlet></router-outlet>
router-outlet es una etiqueta especial en Angular que sirve para mostrar los componentes hijos de un componente



para hacer solo un home y cargar dependiendo del rol

 Si el usuario es un administrador, muestra el menú de administrador 
<app-admin-menu *ngIf="isAdmin"></app-admin-menu>

 Si el usuario es un usuario común, muestra el menú de usuario común 
<app-user-menu *ngIf="!isAdmin"></app-user-menu>

-->

