<head>
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons"
  />
</head>

<h2 class="h2 text-center mt-5">Requerimientos en proceso</h2>
<body class="mt-5">
  <div class="container d-flex justify-content-center align-items-center vh-50">
    <div class="row">
      <div class="col-lg-12 col-md-10 ml-auto mr-auto">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr class="text-center">
                <th>#Requerimiento</th>
                <th>Sistema</th>
                <th>Estado</th>
                <th>Creador</th>
                <th>Elaborador</th>
                <th>Opcion</th>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr *ngFor="let requerimiento of getUsersForPage()">
                <td>{{ requerimiento.Id }}</td>
                <td>{{ requerimiento.NombreSistema }}</td>
                <td>
                  <span class="badge rounded-pill bg-secondary" *ngIf="requerimiento.RequerimientoEstadoId===1">
                    {{ requerimiento.Estado }}</span
                  >
                  <span class="badge rounded-pill bg-primary" *ngIf="requerimiento.RequerimientoEstadoId===2">
                    {{ requerimiento.Estado }}</span
                  >
                </td>
                <td>
                  {{ requerimiento.NombreCreador }}
                  {{ requerimiento.ApellidoCreador }}
                </td>
                <td>
                  {{ requerimiento.NombreElaborador }}
                  {{ requerimiento.ApellidoElaborador }}
                </td>

                <td
                  *ngIf="
                    datosUsuario &&
                    datosUsuario.Id !== requerimiento.UsuarioIdCreador || requerimiento.RequerimientoEstadoId==2
                  "
                  class="td-actions text-right"
                >
                  <button
                    type="button"
                    class="btn btn-success btn-just-icon btn-sm"
                    (click)="verRequerimiento(requerimiento)"
                  >
                    <i class="material-icons">visibility</i>
                  </button>
                </td>
                <td
                  *ngIf="
                    datosUsuario &&
                    datosUsuario.Id === requerimiento.UsuarioIdCreador && requerimiento.RequerimientoEstadoId==1
                  "
                  class="td-actions text-right"
                >
                  <button
                    type="button"
                    class="btn btn-warning btn-just-icon btn-sm"
                    (click)="verRequerimiento(requerimiento)"
                  >
                    <i class="material-icons">edit</i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item" [class.disabled]="currentPage === 1">
            <a
              class="page-link"
              (click)="currentPage = currentPage - 1"
              aria-label="Previous"
            >
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item" *ngFor="let page of getPages()">
            <a class="page-link" (click)="currentPage = page">{{ page }}</a>
          </li>
          <li
            class="page-item"
            [class.disabled]="currentPage === getTotalPages()"
          >
            <a
              class="page-link"
              (click)="currentPage = currentPage + 1"
              aria-label="Next"
            >
              <span aria-hidden="true">&raquo;</span></a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
</body>


<!-- <span class="badge rounded-pill bg-primary">Primary</span>
<span class="badge rounded-pill bg-secondary">Secondary</span>
<span class="badge rounded-pill bg-success">Success</span>
<span class="badge rounded-pill bg-danger">Danger</span>
<span class="badge rounded-pill bg-warning text-dark">Warning</span>
<span class="badge rounded-pill bg-info text-dark">Info</span>
<span class="badge rounded-pill bg-light text-dark">Light</span>
<span class="badge rounded-pill bg-dark">Dark</span>

<button type="button" class="btn btn-primary position-relative">
  Inbox
  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
    99+
    <span class="visually-hidden">unread messages</span>
  </span>
</button> -->

