<h2 class="h2 text-center mt-5">Requerimientos en revisión</h2>
<body class="mt-5">
  <div class="container d-flex justify-content-center align-items-center vh-50">
    <div class="row">
      <div class="col-lg-12 col-md-10 ml-auto mr-auto">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr class="text-center">
                <th>#Requerimiento</th>
                <th>Sistema</th>
                <th>Estado</th>
                <th>Creador</th>
                <th>Editar ficha</th>
                <th>Info</th>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr *ngFor="let reqPendienteRevision of getUsersForPage()">
                <td>{{ reqPendienteRevision.Id }}</td>
                <td>{{ reqPendienteRevision.NombreSistema }}</td>
                <td>{{ reqPendienteRevision.Estado }}</td>
                <td>
                  {{ reqPendienteRevision.NombreCreador }}
                  {{ reqPendienteRevision.ApellidoCreador }}
                </td>
                <td
                  class="td-actions "
                >
                  <button
                    type="button"
                    class="btn btn-warning btn-just-icon btn-sm"
                  >
                    <i class="material-icons">edit</i>
                  </button>
                </td>
                <td
                  class="td-actions"
                >
                  <button
                    type="button"
                    class="btn btn-success btn-just-icon btn-sm"
                  >
                    <i class="material-icons">visibility</i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item" [class.disabled]="currentPage === 1">
            <a
              class="page-link"
              (click)="currentPage = currentPage - 1"
              aria-label="Previous"
            >
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item" *ngFor="let page of getPages()">
            <a class="page-link" (click)="currentPage = page">{{ page }}</a>
          </li>
          <li
            class="page-item"
            [class.disabled]="currentPage === getTotalPages()"
          >
            <a
              class="page-link"
              (click)="currentPage = currentPage + 1"
              aria-label="Next"
            >
              <span aria-hidden="true">&raquo;</span></a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
</body>
